{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}" />

{% if user.is_authenticated %}
  <a href="{% url 'django.contrib.auth.views.logout' %}">Выйти</a>
{% else %}
  <a href="{% url 'django.contrib.auth.views.login' %}">Войти</a>
{% endif %}

{% if playlists %}
    <ul>
    {% for playlist in playlists %}
        <li><a href="{% url 'music:playlist' playlist.id %}">{{ playlist.title }}</a> (создан {{playlist.created_time}})</li>
    {% endfor %}
    </ul>
{% else %}
    <p>Нет ни одного плейлиста.</p>
{% endif %}

<a href="{% url 'music:playlist_add' %}">Добавить плейлист</a>