<h1>{{ playlist.title }}</h1>

<form action="" method="post">
{% csrf_token %}

{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}

<a href="{% url 'music:index' %}">К списку плейлистов</a>

<table>
{% for field in form.visible_fields %}
    <tr>
        <td>      
            {{ field.label }}      
        </td>
        <td title="{{ field.help_text }}">
            {{ field.errors }}
            {{ field }}
        </td>
    </tr>
{% endfor %}
</table>

<input type="submit" value="Сохранить" />

</form>